<div>
  <form #formTask="ngForm" (submit)="submitFormTask(formTask.value); formTask.resetForm">
    <div class="form-group">
      <h1 class="text-center">Lista de Tarefas</h1>
      <div class="input-group-prepend">
        <input type="text" placeholder="Adicionar tarefa" name="task" #task
          [(ngModel)]="nameTaskModel" maxlength="30"
          class="form-control">
        <span (click)="addTask(task.value)" class="input-group-text">
          <i class="material-icons">add</i>
        </span>
      </div>
    </div>
    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft] *ngFor="let itemTask of listTasksTyped">{{itemTask.name}}
          <i (click)="removeTask(itemTask.id)" class="material-icons">delete</i>
          <i (click)="editTask(itemTask.id)" class="material-icons">edit</i>
          <i class="material-icons" (click)="detailTask(itemTask.id)">visibility</i>
        </li>
      </ul>
    </div>
  </form>
</div>

<app-tasks-detail
  *ngIf="screenToDisplay=='detalhe'"
  [taskToDetail]="taskSelected"
  [finishPreview]="closeDetail">
</app-tasks-detail>
